* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #F3F3F4;
  --hover-color: #23568B;
  --text-color: #000000;
}

body {
  background: var(--background-color);
  font-family: "HelveticaNeueCyr", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 30px;
  padding-left: 30px;
  min-height: 100vh;
  max-width: 1180px;
  width: 100%;
  position: relative;
}

.news{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news__row{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.news-item{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  border: 1px solid #eff0f6;
  border-radius: 10px;
}

.news-item__content{
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-item__btn{
  margin-top: 5px;
  padding: 13px 25px;
  background: #23568b;
  border-radius: 10px;
  width: fit-content;
}

.news-item__href{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
}

.news-item__title{
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.news-item__text{
  font-weight: 300;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.news-item__img{
  width: 100%;
  height: 248px;
  object-fit: cover;
}

.news-item__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.administration-list{
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.administration-item{
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  border-bottom: 5px solid #0a2745;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 30px;
  position: relative;
}

.administration-item__img{
  height: 336px;
  object-fit: cover;
  margin-left: 20px;

}

.administration-item__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.administration-item__content{
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-left: 30px;
}

.administration-item__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0em;
}

.administration-item__subtitle{
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.administration-item__href{
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000;
  display: block;
}

.href-underline{
  text-decoration: underline;
}

.administration-item__btn{
  margin-top: 5px;
  padding: 15px 75px;
  background: #23568b;
  border-radius: 10px;
  width: fit-content;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.administration-item__hrefBtn{
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.administration-item__line{
  background: linear-gradient(to right, #0A2745, #5F84AC);
  height: 4px;
}
